<div class="bg-image ">
    <div class="imag">
    <img 
      src="https://images.wallpaperscraft.com/image/single/christmas_decorations_cake_treat_holiday_new_year_65189_1920x1080.jpg"
      class="w-100 "/>
    </div>
    <div class="mask ">
      <div class="container ">
        <h2>Sign in to your account</h2><br>
        
        <form (submit)="onLogin (loginForm)" #loginForm="ngForm">
        
       
    
        <input type="text" id="email"  class="form-control form-control-lg" placeholder="Email Address"  name="email" ngModel required #emailInput="ngModel" class="input"><br><br>
        <small class="text-danger d-flex  align-items-left" *ngIf="emailInput.touched && !emailInput.valid">*Email is required</small>
        
        <input type="password" id="psw" class="form-control form-control-lg" placeholder="Password" name="password" ngModel required #passwordInput="ngModel" class="input"><br><br>
        <small class="text-danger d-flex  align-items-left"  *ngIf="passwordInput.touched && !passwordInput.valid">*Password is required</small>

        <!-- <button>Login</button> -->
        <input type="submit" [disabled]="!loginForm.valid" value="Sign in">
        
        <!-- <button (click)="goToSignup()">SignUp</button>  -->
        <p class="mt-2 text-center text-sm text-gray-600">
            Or
            <a (click)="goToSignup()" class="font-medium text-indigo-600 hover:text-indigo-500">Not a user, want to REGISTER</a>
          </p>
    
       
        
    </form>
    </div>
  </div>   
</div> 




<router-outlet></router-outlet>